@model ArquivoViewModel

<div  class="panel-body">
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Tabela" class="control-label col-md-1"></label>
            <div class="col-md-11">
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                    <input asp-for="Tabela" class="form-control" placeholder="Nome" />
                </div>
                <span asp-validation-for="Tabela" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Esquema" class="control-label col-md-1"></label>
            <div class="col-md-11">
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input asp-for="Esquema" class="form-control" placeholder="Esquema" />
                </div>
                <span asp-validation-for="Esquema" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Posicional" class="control-label col-md-1"></label>
            <div class="col-md-11">
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input class="form-check-input" asp-for="Posicional" /> @Html.DisplayNameFor(model => model.Posicional)
                </div>
                <span asp-validation-for="Posicional" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Divisor" class="control-label col-md-1"></label>
            <div class="col-md-11">
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input asp-for="Divisor" class="form-control" placeholder="Divisor" />
                </div>
                <span asp-validation-for="Divisor" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="Prefixo" class="control-label col-md-1"></label>
            <div class="col-md-11">
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <select asp-for="PrefixoId" class="form-control" asp-items="@(new SelectList(Model.Prefixos, "Id", "Descricao"))">
                        <option></option>
                    </select>
                </div>
                <span asp-validation-for="PrefixoId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="FrequenciaExecucao" class="control-label col-md-1"></label>
            <div class="col-md-11">
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <select asp-for="FrequenciaExecucaoId" class="form-control" asp-items="@(new SelectList(Model.FrequenciasExecucao, "Id", "Frequencia"))">
                        <option></option>
                    </select>
                </div>
                <span asp-validation-for="FrequenciaExecucaoId" class="text-danger"></span>
            </div>
        </div>

        <div id="divDiaDaSemana" class="form-group" style="display:none">
            <label asp-for="DiaDaSemana" class="control-label col-md-1"></label>
            <div class="col-md-11">
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <select asp-for="DiaDaSemana" class="form-control">
                        <option selected>Domingo</option>
                        <option>Segunda</option>
                        <option>Terça</option>
                        <option>Quarta</option>
                        <option>Quinta</option>
                        <option>Sexta</option>
                        <option>Sábado</option>
                    </select>
                </div>
                <span asp-validation-for="DiaDaSemana" class="text-danger"></span>
            </div>
        </div>

        <div id="divDia1" class="form-group" style="display:none">
            <label asp-for="Dia1" class="control-label col-md-1"></label>
            <div class="col-md-11">
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input asp-for="Dia1" class="form-control"  placeholder="Dia 1" />
                </div>
                <span asp-validation-for="Dia1" class="text-danger"></span>
            </div>
        </div>

        <div id="divDia2" class="form-group" style="display:none">
            <label asp-for="Dia2" class="control-label col-md-1"></label>
            <div class="col-md-11">
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input asp-for="Dia2" class="form-control" placeholder="Dia 2" />
                </div>
                <span asp-validation-for="Dia2" class="text-danger"></span>
            </div>
        </div>

        <div id="divHorario" class="form-group" style="display:none">
            <label asp-for="Horario" class="control-label col-md-1"></label>
            <div class="col-md-11">
                <div class="input-group clockpicker" data-autoclose="true">
                    <input asp-for="Horario" autocomplete="off" type="text" class="form-control">
                    <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span>
                    </span>
                </div>
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
        </div>

        <div id="camposContainer">
            @Html.EditorFor(model=> model.Campos)
        </div>
        <div class="row">
            <div class="col-md-4">
                <input class="btn btn-default" type="button" id="btnAdd" value="Adicionar Campo" />
            </div>
        </div>


    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        
    </script>
}