@model ArquivoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalhar";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("FileManager", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Arquivos", "Index", "Arquivos")
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInDown">
    <div class="panel panel-primary">
        <partial name="~/Views/Arquivos/_DeleteDetailsPartial.cshtml" , model="Model" />
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-offset-1 col-md-11">
                    <a class="btn btn-white" asp-action="Index">Voltar para lista</a>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>