@model FileManager.Business.Models.Arquivo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Arquivo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tabela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tabela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Esquema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Esquema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefixo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posicional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Divisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Divisor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaExecucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaExecucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaExecucao1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaExecucao1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaExecucao2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaExecucao2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
